.instructions {
    text-align: left;
    margin-left: 10%; /* Ajusta el margen izquierdo según tu preferencia */
    margin-right: 10%; /* Ajusta el margen derecho según tu preferencia */
}

navbar{
    display: flex;
}

.navbar-brand{
    margin-left: 9%;
}

.content{
    margin-bottom: 0%;
}

/* Estilo para el contenido que estará al lado derecho */
.content-right {
    width: 100%; 
    margin-left: 700px; 
    margin-right: 45px; 
    margin-top: -80%;
}

/* Seccion para darle forma a la lista */ 
ol {
    list-style: none;
    counter-reset: my-counter;
    padding-left: 0;
    font-size: 1.2rem;
    text-align: left;
}
ol li {
    position: relative;
    margin-bottom: 10px;
}
/* fin del estilo */

/* Alineacion del contenedor interno de las actividades */
.content-list {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
    margin-left: 10px; 
    margin-right: 10%; 
}
.content-text {
    width: 80%; 
}

.completed::before {
    content: ""; 
    font-family: "Font Awesome 5 Free"; 
    margin-right: 5px;
}

.pending::before {
    content: ""; 
    font-family: "Font Awesome 5 Free"; 
    margin-right: 5px;
}

.blocked::before {
    content: ""; 
    font-family: "Font Awesome 5 Free"; 
    margin-right: 5px;
}
/* Fin del diseño */

/* Quita el hipervinculo de la etiqueta */
a {
    text-decoration: none; 
    color: inherit; 
}

/* Agrega color a los iconos del bootstrap */
.completed i {
    color: #28a745; 
}

.pending i {
    color: #ffc107; 
}

.blocked i {
    color: #dc3545; 
}

.upload-icon {
    font-size: 24px;
    color: white;
    margin-right: 10px;
}
.upload-button {
    border: 1px solid white ;
    background-color: #D1DFA0;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.upload-button:hover {
    background-color: #0056b3;
}
.submit-button{
    border: 1px solid white ;
    background-color: #D1DFA0;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.submit-button:hover{
    background-color: #0056b3;
}
.file-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.file-icon {
    font-size: 24px;
    margin-right: 10px;
}
.file-name {
    font-size: 16px;
}
.file-remove {
    color: red;
    cursor: pointer;
    margin-left: 15%;
}


/* Estilo para el iframe del video */
.video-preview { 
    margin-left: 20px; 
    margin-right: 45px; 
    margin-top: 1%;
    margin-bottom: 5%;
} 

.video-preview iframe {
    width: 100%; 
    height: 580px; 
    border: none; 
}

#actividades-lista{
    margin-left: 25%; 
    margin-right: 45px; 
    margin-top: 1%;
    margin-bottom: 0%;
    padding-left:10%
}

#actividades-lista a{
    text-decoration: none;
    color: rgb(0, 0, 10);
}

/* buttondescarga */
/* .download-button {
    display: inline-block;
    padding: 8px 16px;
    background-color:#45B39D ;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 25px;
} */

/* #texto {
    max-height: 500px;
    overflow-y: auto;
} */

#texto p{
    margin-top: 5%;
    margin-left: 8%;
    text-align: justify;
    max-width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    /* text-overflow: ellipsis; */
}

#entrega {
    /* border: 1px solid #ccc;
    border-radius: 5px; */
    padding: 10px;
    margin-top: 10px;
    background-color: #f9f9f9;
}

#documento iframe{
    width: 100%;
    height: 500px;
    border: none;
    margin-top: 5%;
}

@media (max-width: 767px){
    .content-right{
        margin-left: 0;
    }
    .content-list{
        display: block;
    }
    .content-text{
        width: 100%;
    }
    .video-preview{
        margin-left: 0;
    }
    .video-preview iframe {
        width: 100%;
        height: auto;
    }
    #actividades-lista{
        margin-left: 15%;
    }
    .instructions{
        margin-left: 0;
    }
    #texto{
        margin-left: 0;
    }
    #documento{
        margin-left: 0;
        margin-top: 5%;
    }
    #documento iframe{
        width: 100%;
    }
}