@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar{
    background-color: #F5F8EA;
    font-weight: 600;
    font-size: 18px;
}

.navbar img{
    width: 60px;
}

.navbar .bi{
    font-size: 30px;
}

carousel-item{
    min-height: 350px;
}

.nosotros{
    padding: 80px 0;
    margin-bottom: 80px;
    background-color: #F5F8EA;
}

.nosotros h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    padding-bottom: 20px;
}

.content{
    padding: 50px 0;
    margin-bottom: 80px;
    background-color: rgb(240,240,240);
}

.content h2{
    /* color: #rgb(245, 248, 238);   Gris del fondo*/ 
    /* color: #F5F8EA;  Verde bajo */
    /* color: #CCDB94;  Verde fuerte*/
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
}

.content img{
    width: 300px;
}

/* .actividad{
    padding: 80px 0;
    margin-bottom: 20px;
    background-color: #f8f9fa;
} */

/* #actividades-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
} */

@media (max-width: 767px){
    .content{
        margin-bottom: 30px;
    }

    .nosotros{
        margin-bottom: 10px;
    }

    .drop-area{
        width: 100%;
    }
}
